{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
      <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.4.0/dist/css/uikit.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'forum/style.css' %}">
    {% include 'partials/links.html' %}
{% block font %}

{% endblock %}

    {% block title %}
    <title>Welcome To Teacher Time Share</title>
    {% endblock title %}
</head>
<body>
{% include 'partials/navbar.html' %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% if messages %}
            {% for message in messages%}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</main>

            {% block content %}


            {% endblock %}


{% include 'js.html' %}
</body>
</html>