{% extends 'base.html' %}

{% block content %}

  <h1>Chat</h1>
  <video id="localVideo" autoplay playsinline></video>
  <video id="remoteVideo" autoplay playsinline></video>

  <div>
    <button id="startButton"class="btn btn-dark">Start</button>
    <button id="callButton"class="btn btn-dark">Call</button>
    <button id="hangupButton" class="btn btn-dark">Hang Up</button>
  </div>

  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    {{ room_name|json_script:"room-name" }}

    {% include 'chat/js.html' %}
    {% include 'chat/css.html' %}
{% endblock %}