{% extends 'base.html' %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Sell Card</legend>
            <h2>Are you sure you want to sell this card {{ card.name }} ?</h2>
        </fieldset>
        <div class="form-group">
            <a class="btn btn-outline-danger"href="{% url 'card_sale' card.id %}" type="submit">Yes</a>
            <a class="btn btn-outline-secondary" href="{% url 'user_cards' %}">Cancel</a>

        </div>
    </form>
</div>
{% endblock %}