{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Delete Comment</legend>
            <h2>Are you sure you want to delete your commment ?</h2>
        </fieldset>
</div>
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Comment: {{ comment.content }}</legend>
            {{ form|crispy }}
        </fieldset>
                <div class="form-group">
            <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
            <a class="btn btn-outline-secondary" href="{% url 'post-detail' post.pk %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}