{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Post</title>
{% endblock title %}

{% block content %}
    <script>
    function openTab(tabName) {
  var i, x;
  x = document.getElementsByClassName("containerTab");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  document.getElementById(tabName).style.display = "block";
}
</script>


<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ post.author.teacherprofile.image.url }} {{ post.author.studentprofile.image.url }}">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
      <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
    </div>
        <h2 class="article-title">{{ post.title }}</h2>
        <p class="article-content">{{ post.content }}</p>
      <p>{% if post.author == user %}
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' post.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' post.id %}">Delete</a>
        {% elif post.author != user %}
      <form method="POST">
            <div class="form-group">
                {{ form | crispy }}
                {% csrf_token %}
            <button class="btn btn-outline-info" type="submit">Comment</button>
            </div>
        </form>
        {% endif %}

      </p>
  </div>
</article>

  {% for comment in comments %}
    <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ comment.author.teacherprofile.image.url }} {{ post.author.studentprofile.image.url }}">
        <a class="mr-2" href="{% url 'user-posts' comment.author.username %}">{{ comment.author }}</a>
        <div class="media-body article-content">{{ comment.content }}</div>
        <div class="article-metadata"></div>
      <small class="text-muted">{{ comment.date_created|date:"F d, Y" }}</small>
        <div class="comments" style="padding: 10px;"></div>
        <p>{% if comment.author == user %}
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'comment-update' comment.id comment.post_id %}">Edit</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'comment-delete'  comment.id comment.post_id%}">Delete</a>


        {% endif %}

            <div class="lead display-6 my-2"><div class="row">
      <button class="column btn btn-outline-primary" onclick="openTab('b1');">Reply</button>
    </div>

        <div id="b1" class="containerTab" style="display:none;background:transparent">
  <!-- If you want the ability to close the container, add a close button -->
  <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
   <fieldset class="form-group">
            <legend class="border-bottom mb-4">Reply</legend>
 </fieldset>

  <form method="POST">
            <div class="form-group">
                {{ form | crispy }}
                {% csrf_token %}
            <button class="btn btn-outline-info" type="submit">Reply</button>
            </div>
        </form>
        </div>
</div>
    </article>

        {% endfor %}


{% endblock%}
