<style type="text/css">
    .bs-example{
        margin: 20px;
    }
</style>
</head>
<body>
<div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <a href="{% url 'home' %}" class="navbar-brand"><img src="http://icon-library.com/images/pokeball-icon-transparent/pokeball-icon-transparent-8.jpg" style="width:100px; height"></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>
                {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cards
        </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'user_cards' %}">My Cards</a>
          <a class="dropdown-item" href="{% url 'pokedex' %}">Pokédex</a>
          <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Buy Cards</a>
        </div>
                {% endif %}
                <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Forum
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'forum' %}">All Posts</a>
          <a class="dropdown-item" href="{% url 'post-create' %}">Create Post</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'user-posts' %}">My Posts</a>
        </div>
      </li>
            </div>
            <div class="navbar-nav ml-auto">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'profile' %}" class="nav-item nav-link">{{ user.get_username }}</a>
                    <a href="{% url 'logout' %}" class="nav-item nav-link">Logout</a>
                {% else %}
                    <a href="{% url 'login' %}" class="nav-item nav-link">Login</a>
                    <a href="{% url 'register' %}" class="nav-item nav-link">Register</a>
                {% endif %}
                {% if request.user.is_superuser %}
                <a href="{% url 'home' %}" class="nav-item nav-link">Admin Section</a>
                {% endif %}
            </div>
        </div>
    </nav>
</div>
</body>
</html>