{% block font %}
    {% include 'partials/homefont.html' %}
{% endblock %}
<div class="p-0">


    <div class="jumbotron jumbotron-fluid">
        <video autoplay muted loop poster src="https://thumbs.gfycat.com/JealousTediousIslandcanary-mobile.mp4">
            <source src="https://thumbs.gfycat.com/JealousTediousIslandcanary-mobile.mp4"
                    data-src="https://thumbs.gfycat.com/JealousTediousIslandcanary-mobile.mp4" type="video/mp4">
            <source src=""
                    data-src="https://ak1.picdn.net/shutterstock/videos/1020853201/preview/stock-footage-timelapse-books-disappear-from-bookshelves-vintage-style.webm"
                    type="video/webm">
            <source src=""
                    data-src="https://ak7.picdn.net/shutterstock/videos/1037924447/preview/stock-footage-asian-children-study-and-writing-the-classroom-at-school-together-concept-of-education.webm"
                    type="video/ogg">
        </video>
        <div class="container text-white">
            <h1 class="display-4 text-center">Welcome To A Broader Sense</h1>
            <p class="lead display-5 my-5">"The test of our progress is not whether we add to the abundance of those who
                have much; it is whether we provide for those who have too little" </p>
            <hr class="my-4">
            <p class="display-5"> Franklin D. Roosevelt</p>
            <h6 class="title display-2 text-center" style="font-weight:100;"><img src=""
                                                                                  style="width:0px; height: 40vh;"></h6>
            <div class="lead string-1 text-center">Changing the way the world looks at teaching, one student at at
                time
            </div>
            <div class="lead string-1 text-center">Join the revolution today <a href="{% url 'register' %}">
                <button class="btn btn-outline-dark">Register Now!</button>
            </a></div>

        </div>
    </div>
</div>

<div class="parallax">

    <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
        <h3 style="text-align:center;"><font style="vertical-align: inherit;"><font
                style="vertical-align: inherit;">Whats New </font></font></h3>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Parallax scrolling is a
            web site where the trend background content is moved at a different speed than the foreground
            content while scrolling. </font><font style="vertical-align: inherit;">Shall not put through school,
            graduated ugly now but not free, but set free the soft ullamcorper graduated sit the kids, a big
            ugly homework sapien sit asset. </font><font style="vertical-align: inherit;">Sometimes pull me with
            my sickness partners. </font><font style="vertical-align: inherit;">Dui sauce recipe that diseases
            have a chat with the feet, no need to invest football life vehicles. </font><font
                style="vertical-align: inherit;">Each one is smart television, but now players protein
            manufacturing, developers Mauris members notebook, protein volleyball, with a smile or hate. </font><font
                style="vertical-align: inherit;">Though there have been the allies, vulputate accumsan fringilla
            eleifend, nunc convallis sit amet, vehicula lorem real estate does not mean that, by reason of the
            allies, and sometimes to adorn. </font><font style="vertical-align: inherit;">Undertakes, therefore,
            a great to-morrow or the not to be the street of it is,</font></font></p>
    </div>
    <div class="parallax"></div>

    <div style="color: white;background-color: #777777;text-align:center;padding:50px 30px;text-align: justify;">
        <h3 style="text-align:center;">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">New Classes</font></font></h3>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Parallax scrolling is a
            web site where the trend background content is moved at a different speed than the foreground
            content while scrolling. </font><font style="vertical-align: inherit;">Shall not put through school,
            graduated ugly now but not free, but set free the soft ullamcorper graduated sit the kids, a big
            ugly homework sapien sit asset. </font><font style="vertical-align: inherit;">Sometimes pull me with
            my sickness partners. </font><font style="vertical-align: inherit;">Dui sauce recipe that diseases
            have a chat with the feet, no need to invest football life vehicles. </font><font
                style="vertical-align: inherit;">Each one is smart television, but now players protein
            manufacturing, developers Mauris members notebook, protein volleyball, with a smile or hate. </font><font
                style="vertical-align: inherit;">Though there have been the allies, vulputate accumsan fringilla
            eleifend, nunc convallis sit amet, vehicula lorem real estate does not mean that, by reason of the
            allies, and sometimes to adorn. </font><font style="vertical-align: inherit;">Undertakes, therefore,
            a great to-morrow or the not to be the street of it is,</font></font></p>
    </div>

    <div class="parallax2">

    </div>
</div>


<style>
    body, html {
        height: 100%;
    }

    .parallax {
        background-image: url("https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }

    .parallax2 {
        background-image: url("https://images.pexels.com/photos/1092641/pexels-photo-1092641.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
